# SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_call:

jobs:
  build:
    permissions:
      id-token: write
      attestations: write

    strategy:
      matrix:
        target:
          - aarch64-apple-darwin
          - x86_64-apple-darwin
        include:
          - target: aarch64-apple-darwin
            system: aarch64-darwin
          - target: x86_64-apple-darwin
            system: x86_64-darwin
      fail-fast: false

    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # ratchet:cachix/install-nix-action@v31.9.1

      - name: Build
        id: build
        run: |
          out_path="$(nix build -L --show-trace --print-out-paths '.#packages.${{ matrix.system }}.morlana')"
          echo "out_path=$out_path" >> "$GITHUB_OUTPUT"

      - name: Push to Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # ratchet:cachix/cachix-action@v16
        with:
          name: ryanccn
          pathsToPush: "${{ steps.build.outputs.out_path }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Generate build provenance attestations
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # ratchet:actions/attest-build-provenance@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-path: ./result/bin/morlana

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # ratchet:actions/upload-artifact@v5
        with:
          if-no-files-found: "error"
          name: morlana-${{ matrix.system }}
          path: ./result/bin/morlana
